{
    "debug": false,
    "CA": [
        {
            "name": "Some Inc.",
            "CAType": "DV",
            "path": "path, for example test => projectDir/backend/CA/test"
        }
    ],
    "origin": "*"
}